.hidden{
    display: none;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
}
.testing{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: blue;
}